{% extends 'base.html' %}
{% load static %} 
{% block content %}


<style >
    .leftlinkpanel
    {
    padding:10px;
    }
    .leftlink
    {
    padding:5px;
    border-bottom:1px solid #ccc;
    }
    a.active
    {
    font-weight: bold;
    }
    
    </style>
    <div class="hero-area hero-bg" style="height: 400px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <h1>Change Password</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    
    
    <section class="h-80 gradient-custom-2 " style="margin-top:80px;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center  h-100">
                <div class="col col-lg-4 col-xl-4">
                    <div class="card leftlinkpanel">
                        <a href="/profile"  class=" {% if request.path == '/profile' %}active{% endif %} postporudtcs leftlink"> Profile</a>
                        <a href="changepassword/{{user.id}}"  class=" {% if request.path == 'changepassword' %}active{% endif %} postporudtcs leftlink"> Change Password</a>
                        <a href="/addproduct"  class=" {% if request.path == '/addproduct' %}active{% endif %} postporudtcs leftlink">Post Products</a>
                        <a href="/update" class="  {% if request.path == '/update' %}active{% endif %} postporudtcs leftlink">Edit Profile</a>
                        <a href="/myproducts/{{users.id}}" class="  {% if request.path == '/myproducts' %}active{% endif %} myproducts leftlink">My products</a>
                    </div>
                </div>
                <div class="col col-lg-8 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            {% comment %} <p  style="font-size:30px;text-decoration: underline;">CHANGE PASSWORD</p><br>  {% endcomment %}
                            <!-- change_password.html -->
                            <form id="change-password-form" method="post" enctype="multipart/form"  >
                                <!--  -->
                                {% csrf_token %}
                                <label for="old-password">Old Password:</label>
                                <input class="form-control form-control-lg" type="password" id="old-password" name="old_password"     required="" ><br>
                                <input  type="hidden" class="form-control form-control-lg" name="username" value="{{users.username}}" required="" >
    
                                <label for="new-password">New Password:</label>
                                <input  class="form-control form-control-lg" type="password" id="new-password" name="new_password"    required="" ><br>
    
                                <label for="confirm-password">Confirm Password:</label>
                                <input class="form-control form-control-lg" type="password" id="confirm-password" name="confirm_password"    required="" ><br><br>
    
                                <button type="button" id="change-password-btn" style="height: 40px;background-color: rgb(72, 72, 249);color: #fff;border-radius: 10px;width:700px;" >Change Password</button>
                            </form>
    
                            <br><div style="font-size: large;text-align: center;" id="change-password-message"><b></b></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#change-password-btn').click(function () {
                var formData = $('#change-password-form').serialize();
                $.ajax({
                    type: 'POST',
                    url: '/change_password/',  // Replace with your actual URL
                    data: formData,
                    success: function (response) {
                        $('#change-password-message').text(response.message);
                        
                        if (response.success) {
                           
                        }
                        setTimeout(function() {
                            $('#change-password-message').text("");
                            
                        }, 3000);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    
    
    {% endblock %}